<button data-key="ac" class="operator">ac</button>
<button class="operator disabled" title="To be implemented">+/-</button>
<button class="operator disabled" title="To be implemented">%</button>
<button data-key="/" class="operator">/</button>
<button data-key="7">7</button>
<button data-key="8">8</button>
<button data-key="9">9</button>
<button data-key="*" class="operator">*</button>
<button data-key="4">4</button>
<button data-key="5">5</button>
<button data-key="6">6</button>
<button data-key="-" class="operator">-</button>
<button data-key="1">1</button>
<button data-key="2">2</button>
<button data-key="3">3</button>
<button data-key="+" class="operator">+</button>
<button data-key="0" class="fill-width">0</button>
<button data-key=".">.</button>
<button data-key="=" class="operator">=</button>
