:host{
  display: flex;
  flex-wrap: wrap;
 // height: 90vh;
}
button {
  border-radius: 10000px;
  border: 10px solid white;
  width: 25%;
  &.fill-width {
    width: 50%;
  }
  background-color: cyan;
  font-size: 3em;
  &.operator {
    background-color: orangered;
  }
}
